.page-header[b-ucw534g9af] {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 24px;
}

.page-header-title[b-ucw534g9af] {
    font-weight: 800;
}

.page-header-actions[b-ucw534g9af] {
    display: flex;
    align-items: center;
    gap: 8px;
}

@media (max-width: 768px) {
    .page-header[b-ucw534g9af] {
        flex-direction: column;
    }
}