<nav class="row grow" style="justify-content: space-between; padding-left: 20px;">
    <div class="row">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Inicio</NavLink>
        <NavLink class="nav-link" href="/historia-clinica">Historia Clínica</NavLink>
        <NavLink class="nav-link" href="/panel/citas">Panel Citas</NavLink>
    </div>
    <div class="row">
        <span class="badge ok">🟢 Recepción Activa</span>
    </div>
</nav>
